<form [formGroup]="rForm" (submit)="submit()">
  <div class="form-group">
    <mat-form-field class="form-field">
      <input
              matInput
              placeholder="Centro educativo"
              name="institution"
              formControlName="institution"
      >
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="form-field">
      <mat-label>Título</mat-label>
      <input matInput
             placeholder="Título"
             name="title"
             formControlName="title"
      />
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <mat-label>Fecha de obtención del título</mat-label>
      <input matInput name="date" formControlName="date" [matDatepicker] = "picker" placeholder = "Escoge una fecha">
      <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-checkbox
            name="bilingue"
            formControlName="bilingue"
    >Bilingue</mat-checkbox>
  </div>

  <button mat-raised-button color="primary" type="submit" [disabled]="rForm.invalid">
    Guardar
  </button>
</form>
