<form [formGroup]="rForm" (submit)="submit()">
  <div class="form-group">
    <mat-form-field>
      <mat-label>Nivel</mat-label>
      <mat-select
              [compareWith]="compareLevel"
              name="level"
              formControlName="level"
      >
        <mat-option [value]="level" *ngFor="let level of languageLevels">
          {{ level.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <mat-label>Idioma</mat-label>
      <mat-select
              name="name"
              formControlName="name"
              [compareWith]="compareName"
      >
        <mat-option [value]="name" *ngFor="let name of languageNames">
          {{ name.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <mat-label>Fecha de obtención del título</mat-label>
      <input matInput name="date" formControlName="date" [matDatepicker] = "picker" placeholder = "Escoge una fecha">
      <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" type="submit" [disabled]="rForm.invalid">
    Guardar
  </button>
</form>
