<div *ngIf="user" id="contenido" class="container" fxLayout="column">

  <mat-card id="foto-perfil">
    <mat-card-header>
      <mat-card-subtitle>
        {{ user.name + ' ' + user.surname }}
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ user.avatar_hash }}" alt="avatar">
  </mat-card>

  <section id="datosPersonales">
    <mat-list role="list">
      <mat-list-item role="listitem" fxLayout="row">
        <div fxLayout="row" fxLayoutGap="1em">
          <div class="list-title">Email</div>
          <div class="list-description">{{ user.email }}</div>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem">
        <div fxLayout="row" fxLayoutGap="1em">
          <div class="list-title">Fecha de nacimiento</div>
          <div class="list-description">{{ user.birthdate }}</div>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem">
        <div fxLayout="row" fxLayoutGap="1em">
          <div class="list-title">Teléfono</div>
          <div class="list-description">{{ user.phone }}</div>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem">
        <div fxLayout="row" fxLayoutGap="1em">
          <div class="list-title">NIF/NIE</div>
          <div class="list-description">{{ user.documentNumber }}</div>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem">
        <div fxLayout="row" fxLayoutGap="1em">
          <div class="list-title">Permisos de conducir</div>
          <div class="list-description">{{ user.license }}</div>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem">
        <div fxLayout="row" fxLayoutGap="1em">
          <div class="list-title">Direccion</div>
          <div class="list-description">{{ user.address | json }}</div>
        </div>
      </mat-list-item>
    </mat-list>

    <div id="otra_info">
      <mat-list role="list">
        <mat-list-item role="listitem">
          <div fxLayout="row" fxLayoutGap="1em">
            <div class="list-title">Acerca de mi...</div>
            <div class="list-description">{{ user.aboutMe }}</div>
          </div>
        </mat-list-item>
        <mat-list-item role="listitem">
          <div fxLayout="row" fxLayoutGap="1em">
            <div class="list-title">Otras competencias</div>
            <div class="list-description">{{ user.otherCompetences }}</div>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
    <button mat-raised-button color="primary" [routerLink]="['/admin/profile/profile-student/account']">Modificar</button>
  </section>



  <h2>Formaci&oacute;n acad&eacute;mica</h2>
  <section id="formacion_academica">
    <table mat-table [dataSource]="user.studies" class="mat-elevation-z8">

      <!-- Tipo Column -->
      <ng-container matColumnDef="level.name">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let study"> {{study.level.name}} </td>
      </ng-container>

      <!-- Nivel Column -->
      <ng-container matColumnDef="grade.name">
        <th mat-header-cell *matHeaderCellDef> Nivel </th>
        <td mat-cell *matCellDef="let study"> {{study.grade.name}} </td>
      </ng-container>

      <!-- Título Column -->
      <ng-container matColumnDef="title.name">
        <th mat-header-cell *matHeaderCellDef> Título </th>
        <td mat-cell *matCellDef="let study"> {{study.title.name || study.title}} </td>
      </ng-container>

      <!-- Centro Column -->
      <ng-container matColumnDef="institution.name">
        <th mat-header-cell *matHeaderCellDef> Centro </th>
        <td mat-cell *matCellDef="let study"> {{study.institution.name || study.institution}} </td>
      </ng-container>

      <!-- Fecha Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let study"> {{study.date}} </td>
      </ng-container>

      <!-- Certificado Column -->
      <ng-container matColumnDef="certificate">
        <th mat-header-cell *matHeaderCellDef> Certificado </th>
        <td mat-cell *matCellDef="let study"> {{study.certificate ? 'Sí' : 'No'}} </td>
      </ng-container>

      <!-- Bilingue Column -->
      <ng-container matColumnDef="bilingue">
        <th mat-header-cell *matHeaderCellDef> Bilingue </th>
        <td mat-cell *matCellDef="let study"> {{study.bilingue ? 'Sí' : 'No'}} </td>
      </ng-container>

      <!-- Dual Column -->
      <ng-container matColumnDef="dual">
        <th mat-header-cell *matHeaderCellDef> Dual </th>
        <td mat-cell *matCellDef="let study"> {{study.dual ? 'Sí' : 'No'}} </td>
      </ng-container>

      <!-- Editar Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let study">
          <button mat-button color="primary" [routerLink]="['/admin/profile/profile-student/study', study.uid]">Editar</button>
        </td>
      </ng-container>

      <!-- Borrar Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let study">
          <button mat-button color="warn" (click)="deleteStudy(study.uid)">Borrar</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="studiesColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: studiesColumns;"></tr>
    </table>

    <button mat-raised-button color="primary" [routerLink]="['/admin/profile/profile-student/study']">Nueva formación</button>
  </section>

  <h2>Idiomas</h2>
  <section id="languages">
    <table mat-table [dataSource]="user.languages" class="mat-elevation-z8">

      <!-- Nivel Column -->
      <ng-container matColumnDef="level.name">
        <th mat-header-cell *matHeaderCellDef> Nivel </th>
        <td mat-cell *matCellDef="let language"> {{language.level.name}} </td>
      </ng-container>

      <!-- Idioma Column -->
      <ng-container matColumnDef="name.name">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let language"> {{language.name.name}} </td>
      </ng-container>

      <!-- Fecha Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let language"> {{language.date}} </td>
      </ng-container>

      <!-- Editar Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let language">
          <button mat-button color="primary" [routerLink]="['/admin/profile/profile-student/language', language.uid]">Editar</button>
        </td>
      </ng-container>

      <!-- Borrar Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let language">
          <button mat-button color="warn" (click)="deleteLanguage(language.uid)">Borrar</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="langColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: langColumns;"></tr>
    </table>
    <button mat-raised-button color="primary" [routerLink]="['/admin/profile/profile-student/language']">Nuevo idioma</button>
  </section>
</div>
<div *ngIf="!user" id="contenido">
  <p>Datos están siendo cargados...</p>
</div>
