<div fxLayout="row" fxFlexAlign="space-between" fxLayoutGap="1em">
  <button mat-stroked-button routerLink="/"> Logout </button>
  <button mat-stroked-button routerLink="/admin/"> Dashboard </button>
  <button mat-stroked-button routerLink="/admin/profile"> Profile </button>
  <button mat-stroked-button routerLink="/admin/offers"> Offers </button>
  <button mat-stroked-button routerLink="/admin/config"> Configuración </button>
  <button mat-stroked-button routerLink="/admin/offers/my-offers"> Mis ofertas </button>
</div>
<router-outlet></router-outlet>
