<div *ngIf="offer !== undefined">
  <div>
    <h3>Oferta</h3>
    <div>Empresa</div>
    <div>{{offer.company}}</div>
    <div>Lloc</div>
    <div>{{offer.position}}</div>
    <div>Descripció</div>
    <div>{{offer.description}}</div>
  </div>
  <div>
    <h3>Localitat</h3>
    <div>Municipi</div>
    <div>{{offer.city}}</div>
    <div>Província</div>
    <div>{{offer.province}}</div>
  </div>
  <div>
    <h3>Destinatari</h3>
    <div>Família professional</div>
    <div>{{offer.family}}</div>
    <div *ngIf="offer.degrees !== undefined">
      <div>Títols als que va destinada l'oferta</div>
      <table>
        <tbody>
        <tr *ngFor="let entity of offer.degrees.entities">
          <td>{{entity.degree}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button (click)="subscribe()">Subscriure's</button>
</div>
